
body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  background-color: #f2f2f2;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
  font-weight: 700;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2
}
.site-navigation a:active {
  color: #b2b2b2
}

.text-title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 25px;
  line-height: 26px;
}

.text-title-main {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.features-list {
  list-style: none;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 26px;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  outline: 0;
}

.button:hover,
.button:focus {
  background-color: #604e43;
  outline: 0;
}

.button:active {
  background-color: #503e33;
  color: #857871;
  outline: 0;
}

.footer-social {
  text-align: center;
}

.footer-social ul{
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.footer-copyright {
  text-align: center;
  color: #000000;
}

.footer-hashtags a {
  color: #000000;
}

.footer-hashtags {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.modal {
  color: #000000;
}

.search-hotel h2 {
  font-size: 30px;
  line-height: 36px;
}

.search-hotel>p {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.modal p {
  font-size: 14px;
  line-height: 26px;
}

.search-form input:hover {
  background-color: #ebebeb;
  border: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
}

legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

label {
  line-height: 21px;
}

.search-rezult {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting h2 {
  font-size: 12px;
  line-height: 18px;
}

.sorting-list {
  list-style: none;

}

.sorting-list a {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:focus,
.sorting-list a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:active {
  color: #000000;
  border-bottom: none;
}

.active-item>a {
  color: #81b3d2;
  border-bottom: none;
}

.catalog-list {
  list-style: none;
}

.catalog-list h3 a {
  color: #000000;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 30px lightgrey;
          box-shadow: 0 0 30px lightgrey;
}

.main-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.main-header-logo {
  width: 138px;
  height:70px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 10;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 73px;
  margin-right: 73px;
}

.site-navigation li {
  padding-top: 17px;
  padding-bottom: 18px;
  width: 20%;
}

.site-navigation li:nth-child(2) {
  padding-left: 30px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
  padding-right: 32px;
  text-align: right;
}

.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation-current {
  color: #766357;
  font-weight: 700;
}

.title {
  background-image: url("../img/background-main.jpg");
  background-size: 1200px;
  background-repeat: no-repeat;
  background-color: #e4f1f9;
  background-size: cover;
  margin: 0;
  padding: 0;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  top: 452px;
  width: 1200px;
  height: 58px;
  background-image: url("../img/background-main.png");
  background-repeat: no-repeat;
}

.title img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 77px;
  padding-bottom: 77px;
}

.description {
  margin: 0;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  margin-bottom: 50px;
  max-width: 576px;
  text-align: center;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feature-item {
  position: relative;
  text-align: center;
  z-index: 5;
}

.features-list>li:first-child {
  background-color: #81b3d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.column-text1 {
  width: 33.3%;
  color: #ffffff;
  padding-bottom: 38px;
  padding-top: 48px;
}

.column-text1 h3 {
  margin: 0;
  padding-left: 130px;
  padding-right: 130px;
  margin-bottom: 26px;
  font-weight: 400;
}

.column-text1 p {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 22px;
}

.column-img1 {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 33.3%;
  top: -30%;
}

.recommendations-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
  padding-top: 163px;
  padding-bottom: 81px;
}

.recommendations-list>li:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  top: 60px;
  left: 50%;
  margin-left: -439px;

  background-image: url(../img/icon-hotels.svg);
  background-repeat: no-repeat;
  z-index: 2;
}

.recommendations-list>li:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 74px;
  height: 70px;
  top: 63px;
  left: 50%;
  margin-left: -38px;

  background-image: url(../img/icon-food.svg);
  background-repeat: no-repeat;
  z-index: 2;
}

.recommendations-list>li:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 76px;
  top: 56px;
  left: 50%;
  margin-left: 367px;

  background-image: url(../img/icon-suvenirs.svg);
  background-repeat: no-repeat;
  z-index: 2;
}

.recommendations-item {
  width: 33.3%;
  line-height: 21px;
  padding-left: 50px;
  padding-right: 50px;
}

.recommendations-item p {
    color: #333333;
}

.features-list>li:nth-child(3) {
  background-color: #81b3d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.column-text2 {
  width: 33.3%;
  color: #ffffff;
  padding-bottom: 38px;
  padding-top: 48px;
  margin-left: auto;
}

.column-text2 h3 {
  margin: 0;
  padding-left: 120px;
  padding-right: 120px;
  margin-bottom: 27px;
  font-weight: 400;
}

.column-text2 p {
  padding-left: 38px;
  padding-right: 40px;
  margin-bottom: 22px;
}

.column-img2 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -30.1%;
}

.last-features {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eeeeee;
  padding-bottom: 39px;
  padding-top: 49px;
}

.last-feature-item {
  width: 33.3%;
}

.last-feature-item h3 {
  margin: 0;
  padding-left: 130px;
  padding-right: 130px;
  margin-bottom: 25px;
}

.last-feature-item p {
  padding-left: 75px;
  padding-right: 75px;
  margin-bottom: 22px;
  color: #333333;
}

.last-features li:nth-child(2) p {
  padding-left: 60px;
  padding-right: 60px;
}

.white-line {
  position: relative;
}

.black-line {
  position: relative;
}

.white-line::before {
  content: "";
  width: 10px;
  height: 2px;
  top: 10px;
  left: 174px;
  position: absolute;
  background: #ffffff;
}

.black-line::before {
  content: "";
  width: 10px;
  height: 2px;
  top: 10px;
  left: 174px;
  position: absolute;
  background: #000000;
}

.white-line::after {
  content: "";
  width: 10px;
  height: 2px;
  top: 10px;
  left:215px;
  position: absolute;
  background: #ffffff;
}

.black-line::after {
  content: "";
  width: 10px;
  height: 2px;
  top: 10px;
  left:216px;
  position: absolute;
  background: #000000;
}

.search-hotel {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-left: 315px;
  padding-right: 316px;
  background-color: #ffffff;
}

.search-hotel h2 {
  margin-top: 52px;
  margin-bottom: 22px;
}

.search-hotel>p {
  margin-bottom: 46px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  padding-top: 35px;
  padding-bottom: 36px;
  color: #000000;
  background-color: #ffffff;
  background: rgba(255,255,255,0.9);
}

.footer-absol {
  position: absolute;
  bottom: 0;
}

.map {
  z-index: 0;
  padding-top: 593px;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.footer-hashtags {
  margin: 0;
  padding: 0;
  width: 400px;
  text-align: center;
}

.footer-social {
  margin: 0;
  padding: 0;
  width: 400px;
}

.footer-social ul {
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-button {
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active path {
  fill: #88b6d1;
}

.footer-copyright {
  margin: 0;
  padding: 0;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-copyright .button-copyright {
  width: 115px;
  height: 42px;
  display: block;
}

.button-copyright:hover path,
.button-copyright:focus path {
  fill: #81b3d2;
}

.button-copyright:active path {
  fill: #bdbbbc;
}

.footer-copyright b {
  padding-right: 9px;
  font-weight: 400;
}

/* вторая страница */

fieldset {
  margin: 0;
  padding: 0;
}

.filter {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-image: url(../img/filter-background.jpg);
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position-y: -55px;
}

.facility {
  display: block;
  margin-left: 72px;
}

.filter-search {
  margin-right: 72px;
  margin-left: auto;
}

.sorting-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.sorting {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 73px;
  padding-right: 73px;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 30px;
  position: relative;
}

.sorting::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #a9a9a9;
  bottom: 0;
  left: 0;
}

.search-filters {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-rezult {
  margin: 0;
  margin-right: 45px;
}

.sorting-type h2 {
  margin: 0;
  font-weight: 400;
}

.sorting-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
}

.info-button{
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: 700;
}

.info-button:hover,
.info-button:focus {
  background-color: #669ec0;
}

.info-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.sort-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          -webkit-box-align: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          -webkit-box-pack: flex-end;
          -moz-box-pack: flex-end;
          -ms-flex-pack: flex-end;
          -webkit-justify-content: flex-end;
          justify-content: flex-end;
}

.sort-button a path {
  fill: #b2b2b2;
}

.sort-button-increase:hover path,
.sort-button-increase:focus path{
  fill: #000000;
}

.sort-button-ebbing:hover path,
.sort-button-ebbing:focus path {
  fill: #000000;
}

.sort-button-increase:active path {
  fill: #81b3d2;
}

.sort-button-ebbing:active path {
  fill: #81b3d2;
}

.sort-button-ebbing {
  padding-left: 12px;
}

.sort-button a:nth-child(2) path {
  fill: #81b3d2;
}

.sorting-item {
  margin-right: 35px;
}

.sorting-item:hover,
.sorting-item:focus {
  color: #81b3d2;
}

.sorting-item:active {
  color: #000000;
}

.catalog {
  margin: 0;
  padding: 0;
}

.catalog-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog-item {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 25px;
  position: relative;
  padding-left: 73px;
  padding-right: 73px;
}

.catalog-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #a9a9a9;
  bottom: 0;
  left: 0;
}

.catalog-item-image {
  margin: 0;
}

.hotel-page:hover,
.hotel-page:focus {
  color: #81b3d2;
}
.hotel-page:active {
  color: #b2b2b2;
}

.catalog-item-type{
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  margin-top: 7px;
  color: #333333;
}

.price {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  margin-top: 7px;
  color: #333333;
}

.item-info {
  padding: 0;
  margin: 0;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-info>a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 21px;
}

.block-columns {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;

}

.col2 {
  margin-left: 7px;
}

.col1 a {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
}

.col2 a {
  padding-left: 16px;
  padding-right: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
}

.rating {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rating-text {
  margin-left: auto;
  color: #666666;
  background-color: #f2f2f2;
  margin-bottom: 5px;
  padding: 3px 13px;
}

.rating-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: flex-end;
  -moz-box-align: flex-end;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-end;
  -moz-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.rating-item {
  padding-left: 5px;
}

.facility {
  border: none;
}

.filter-cost {
  border: none;
  color: #ffffff;
  text-transform: uppercase;
}

.price-control {
  height: 31px;
  margin-bottom: 20px;
  margin-top: 9px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  position: relative;
  font-size: 0;
}

.price-control label {
  display: inline-block;
  line-height: 30px;
  cursor: pointer;
  font-size: 14px;
  vertical-align: middle;
}

.price-control::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-control .min-price {
  width: 95px;
  padding-left:65px;
}

.price-control .max-price {
  width: 103px;
  padding-left:51px;
}

.price-control input {
  width: 50px;
  min-height: 30px;
  margin: 0;
  padding: 0;
  padding-left: 3px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  vertical-align: top;
}

.range-control {
  position: relative;
  margin-bottom: 32px;
}

.range-control .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-control .bar {
  height: 2px;
  width: 80%;
  background: #ffffff;
}

.range-toggle {
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  position: absolute;
  top: -10px;
}

.range-toggle:hover {
  background: #1c4f80;
  border: 9px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-button {
  display: block;
  margin: 0 auto;
  margin-right: 97px;
  padding: 6px 33px;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-button:hover {
  color: #000000;
  background: #ffffff;
}

.filter-type {
  color: #ffffff;
  border: none;
  margin-left:120px;
}

.facility {
  color: #ffffff;
}

.facility-check {
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
}

.filter-type-check {
  list-style: none;
  margin: 0;
  margin-bottom: 31px;
}

.facility-check li {
  padding-top: 24px;
}

.filter-type-check li {
  padding-top: 24px;
}

.filter-option {
  display: block;
  position: relative;
}

.filter-option label {
  cursor: pointer;
}

.filter-option input {
  display: none;
}

.filter-option label::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  /* cursor: pointer; */
}

.filter-option input:checked +label::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  /* cursor: pointer; */
}

.filter-option::before:disabled {
  color: #6a6a6a;
}

@-webkit-keyframes form {
  0% {
    -webkit-transform: translateY( -100%);
            transform: translateY( -100%);
  }
  10% {
    -webkit-transform: translateY( -90%);
            transform: translateY( -90%);
  }
  20% {
    -webkit-transform: translateY( -80%);
            transform: translateY( -80%);
  }
  30% {
    -webkit-transform: translateY( -70%);
            transform: translateY( -70%);
  }
  40% {
    -webkit-transform: translateY( -60%);
            transform: translateY( -60%);
  }
  50% {
    -webkit-transform: translateY( -50%);
            transform: translateY( -50%);
  }
  60% {
    -webkit-transform: translateY( -40%);
            transform: translateY( -40%);
  }
  70% {
    -webkit-transform: translateY( -30%);
            transform: translateY( -30%);
  }
  80% {
    -webkit-transform: translateY( -20%);
            transform: translateY( -20%);
  }
  90% {
    -webkit-transform: translateY( -10%);
            transform: translateY( -10%);
  }
  100% {
    -webkit-transform: translateY( 0%);
            transform: translateY( 0%);
  }
}

@keyframes form {
  0% {
    -webkit-transform: translateY( -100%);
            transform: translateY( -100%);
  }
  10% {
    -webkit-transform: translateY( -90%);
            transform: translateY( -90%);
  }
  20% {
    -webkit-transform: translateY( -80%);
            transform: translateY( -80%);
  }
  30% {
    -webkit-transform: translateY( -70%);
            transform: translateY( -70%);
  }
  40% {
    -webkit-transform: translateY( -60%);
            transform: translateY( -60%);
  }
  50% {
    -webkit-transform: translateY( -50%);
            transform: translateY( -50%);
  }
  60% {
    -webkit-transform: translateY( -40%);
            transform: translateY( -40%);
  }
  70% {
    -webkit-transform: translateY( -30%);
            transform: translateY( -30%);
  }
  80% {
    -webkit-transform: translateY( -20%);
            transform: translateY( -20%);
  }
  90% {
    -webkit-transform: translateY( -10%);
            transform: translateY( -10%);
  }
  100% {
    -webkit-transform: translateY( 0%);
            transform: translateY( 0%);
  }
}

@-webkit-keyframes error {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes error {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.filter {
  padding-top: 29px;
}

.hole-form {
  position: relative;
  color: #000000;
  background-color: #ffffff;
}

.search-hotel-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 100%;
  margin: 0;
  z-index: 3;
  position: relative;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  outline: 0;
  display: block;
  padding: 30px 0;
}

.search-hotel-button:hover,
.search-hotel-button:focus {
  background-color: #604e43;
  outline: 0;
}

.search-hotel-button:active {
  background-color: #503e33;
  color: #857871;
  outline: 0;
}

.search-form {
  position: absolute;
  background-color: #ffffff;
  padding: 55px;
  display: none;
  z-index: 0;
}

.search-form-show {
  display: block;
  -webkit-animation: form 1s;
          animation: form 1s;
}

.search-form-error {
  -webkit-animation: error 1s;
          animation: error 1s;
}

.search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-bottom: 30px;
  position: relative;
  text-align: left;
}

.number-per {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 52px;
}

.search-item-short {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.search-form input[type="text"] {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  margin-left: auto;
}

.search-date {
  fill: #a9a9a9;
  width: 40px;
  padding-top: 5px;
  border: none;
  background-color: inherit;
  position: absolute;
  right: -1px;
  top: 2px;
}

.search-item-short input{
  vertical-align: center;
  padding-top: 7px;
  padding-bottom: 8px;
}

.search-form input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
}

.search-item input {
  width: 345px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
}

.search-item-short input[type="text"] {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  font: inherit;
  color: #000000;
  width: 38px;
  height: 40px;
  padding-left: 13px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.search-form label {
  width: 108px;
  margin-right: 5px;
}

.search-button {
  padding: 0;
  width: 100%;
  height: 58px;
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: 700;
  font-size: 21px;
}

::-webkit-input-placeholder {
  color: #000000;
}

::-moz-placeholder {
  opacity: 1;
  color: #000000;
}

.item-children label{
  width: 80px;
  padding-left: 28px;
}

.children-text {
  text-align: center;
}

.adult-text {
  text-align: left;
}

.search-date:hover,
.search-date:focus {
  fill: #000000;
}

.search-date:active {
  fill: #81b3d2;
}

.plus {
  padding: 0;
  margin: 0;
  width: 38px;
  height: 40px;
  border: 0;
  position: relative;
  background-color: #f2f2f2;
  color: #a9a9a9;
  font-weight: 700;
  font-size: 22px;
}

.minus {
  padding: 0;
  margin: 0;
  width: 38px;
  height: 40px;
  border: 0;
  position: relative;
  background-color: #f2f2f2;
  color: #a9a9a9;
  font-weight: 700;
  font-size: 22px;
}

.minus:hover,
.minus:focus,
.plus:hover,
.plus:focus{
  color: #000000;
}

.minus:active,
.plus:active {
  color: #81b3d2;
}
